webapp/www/web/storage
webapp/www/web/hot
webapp/www/web/js
webapp/www/web/css
webapp/www/web/mix*.js
webapp/www/web/mix-manifest.json
webapp/www/web/fonts
webapp/www/web/img
webapp/www/web/uploads/img
webapp/www/vendor
webapp/www/.env
webapp/www/node_modules
.idea
