<!DOCTYPE html>
<html>
  <head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title>Erreur : {{ status_text }}</title>
		<link href='https://fonts.googleapis.com/css?family=Anton|Passion+One|PT+Sans+Caption' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	  {% stylesheets filter='cssrewrite, ?scssphp'
	    'bundles/occore/css/error.css' %}
	    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
	  {% endstylesheets %}		
  </head>

	<body>

		<!-- Error Page -->
			<div class="error">
				<div class="container-floud">
					<div class="col-xs-12 ground-color text-center">
						<div class="container-error-404">
							<div class="clip"><div class="shadow"><span class="digit thirdDigit"></span></div></div>
							<div class="clip"><div class="shadow"><span class="digit secondDigit"></span></div></div>
							<div class="clip"><div class="shadow"><span class="digit firstDigit"></span></div></div>
							<div class="msg">OH!<span class="triangle"></span></div>
						</div>
						<h2 class="h1">Sorry! Page not found</h2>
					</div>
				</div>
			</div>
		<!-- Error Page -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	  {% javascripts filter='?jsqueeze'
	    'bundles/occore/js/error.js' %}
	    <script type="text/javascript" src="{{ asset_url }}"></script>
	  {% endjavascripts %}
	</body>
</html>
